%nav#sidebar
  %div#logo
    %a{href: '/'}
      %img{src: '/images/logo_kl.png'}
  %h3= I18n.t('toc')
  = @toc
  - if current_user && current_user.is_admin?
    %form{method: :get, action: "/#{locale}/new"}
      %input{type: :submit, value: '+'}

- if current_user && current_user.is_admin? && params[:view_mode] != 'preview'
  %div#content.editor
    %form{method: :post}
      - if @contents.class == String
        %textarea{name: 'content_fragment[html]'}= @contents
        %fieldset
          -# TODO: i18n!
          Modify the above contents as needed and hit <em>Save</em> to migrate them to the database.
          %input{type: :submit, value: 'Save'}
      - else
        %textarea{name: 'content_fragment[html]'}= @contents.html
        %fieldset
          %label{for: 'content_fragment[book]'} Part:
          %input{type: :text, name: 'content_fragment[book]', value: @contents.book}
          %label{for: 'content_fragment[chapter]'} Chapter:
          %input{type: :text, name: 'content_fragment[chapter]', value: @contents.chapter}
          %label{for: 'content_fragment[heading]'} Heading:
          %input{type: :text, name: 'content_fragment[heading]', value: @contents.heading}
          %input{type: :submit, value: 'Save'}

- else
  %div#content.user
    - if @contents.class == String
      = @contents
    - else
      = @contents.html

= styled_flash
= haml :session_links
