= haml :sidebar

#content{class: content_class}
  = haml :session_links
  - if content_class == :editor
    %form{method: :post}
      %textarea{class: 'heading', name: 'content_fragment[heading]'}= @contents.heading
      %textarea{class: 'text', name: 'content_fragment[html]'}= @contents.html
      %fieldset
        %label{for: 'content_fragment[book]'} Book:
        %input{type: :text, name: 'content_fragment[book]', value: @contents.book}
        %label{for: 'content_fragment[chapter]'} Chapter:
        %input{type: :text, name: 'content_fragment[chapter]', value: @contents.chapter}
        %input{type: :submit, value: 'Save'}
  - else
    %article.current
      = @contents.heading_and_text
