= haml :logo
= haml :navigation
#content
  %a#sidebar-handle= '<i class="fa fa-chevron-left"></i>'
  = haml :session_links  
  - if (content_class.include? 'editor') && (view_mode == :edit)
    = haml :editing_area
  - else  
    %main#articles= haml :article
