= haml :'modules/session_links', locals: {model: :content_fragment}
= haml :'modules/logo'
= haml :'modules/sidebar', locals: {model: :content_fragment}

#content{lang: locale}

  - if ((content_class.include? 'editor') && (view_mode == :edit))

    = haml :"content_fragments/edit"

  - else

    %a#sidebar-handle= icon("chevron-#{session[:ui_origin]}")
    %a.nav-links#prev{href: '#'}= icon('angle-double-up')

    -# A search was performed; show its results
    - if @fragments    
      %main#search_results
        = haml :'content_fragments/search_results'
    - else
      %main#articles

        -# The single line of code inside of article.haml is
        -# in a separate file so that more articles may continue 
        -# to be loaded via XMLHttpRequest (see eager_loading.coffee
        -# for where that occurs).
        
        = haml :'content_fragments/view'

    %a.nav-links#next{href: '#'}= icon('angle-double-down')
