= haml :session_links

= haml :logo
= haml :navigation

#content

  -# Semantically, the handle would belong outside #content
  -# and inside #sidebar, which would make the CSS and JS
  -# unnecessarily more complicated, though.
  %a#sidebar-handle= '<i class="fa fa-chevron-left"></i>'
  
  - if (content_class.include? 'editor') && (view_mode == :edit)
    = haml :editing_area
  - else  
    %main#articles= haml :article
