%main
  %h3
    %img{src: '/assets/logo_kl.png'}
    %br/
    - if current_user.is_admin?
      = I18n.t('views.index.choose_book')
      %span
        = I18n.t('views.index.green_books')
    - else
      = I18n.t('views.index.choose_locale')
      %span
        = I18n.t('views.index.alpha_version')
  = haml :session_links
  - @fragment_sets.each do |book, set|
    %ul.book
      %li
        %h4
          - if current_user.is_admin?
            = I18n.t('views.index.preview_book', book: book)
          - else
            = I18n.t('views.index.read_book', book: book)
        %ul.language_version
          - set.each do |fragment|
            %li
              %a{href: "#{fragment.first_child_url_path}#{'?view_mode=preview' if current_user.is_admin?}",
                 class: "book#{' '+(fragment.is_published ? 'published' : 'unpublished') if current_user.is_admin?}"}
                = I18n.t(fragment.locale)    
  %p.keyboard= I18n.t('views.index.keyboard_ad', url: "/#{locale}/keyboard")
  %footer
    %img{src: '/assets/FU_Bergen3.jpg'}
    %img{src: '/assets/Cam_Lpz.jpg'}
    %img{src: '/assets/StE_EU2.jpg'}
