%main
  %h3
    %img{src: '/assets/logo_kl.png'}
    %br/
    - if current_user.is_admin?
      - # TODO: i18n!
      = 'Choose the book you wish to preview or edit below.'
      %span
        - # TODO: i18n!
        = 'Books in green colour have already been published to readers!'
    - else
      - # TODO: i18n!
      = 'Choose your language of instruction to use the learning portal.'
      %span
        - # TODO: i18n!
        = 'All courses are in alpha version, please bear with us!'
  = haml :session_links
  - @fragment_sets.each do |book, set|
    %ul.book
      %li
        - # TODO: i18n!
        %h4= "#{current_user.is_admin? ? 'Preview' : 'Read'} #{book} in:"
        %ul.language_version
          - set.each do |fragment|
            %li
              %a{href: "#{fragment.first_child_url_path}#{'?view_mode=preview' if current_user.is_admin?}",
                 class: fragment.is_published ? 'published' : 'unpublished'}
                = I18n.t(fragment.locale)
  %footer
    %img{src: '/assets/FU_Bergen3.jpg'}
    %img{src: '/assets/Cam_Lpz.jpg'}
    %img{src: '/assets/StE_EU2.jpg'}
