- if @exercise && @exercise.type
  %form{method: :post, action: @exercise.url_path(:post)}
    %input{type: :hidden, name: 'exercise[locale]', value: @exercise.locale}
    %input{type: :hidden, name: 'exercise[type]', value: @exercise.type}
    
    = haml :"exercises/edit/#{@exercise.template_name}"
    
    %fieldset
    
      %label{for: 'exercise[will_be_interactive]'}
        %input{type: :hidden, name: 'exercise[will_be_interactive]', value: 'false'}
        %input{type: :checkbox, name: 'exercise[will_be_interactive]', value: 'true', checked: @exercise.will_be_interactive}
        Eventually interactive?
      
      %label{for: 'exercise[content_fragment_id]'}
        %select{name: 'exercise[content_fragment_id]'}
          - @content_fragments.each do |cf|
            - selected = (params[:exercise][:content_fragment_id] == cf.id.to_s) if params[:exercise]
            %option{value: cf.id, selected: selected}= "#{cf.chapter} - #{cf.heading}"
        Assign to chapter, if any?
        
      %label{for: 'exercise[sort_order]'}
        %input{type: :text, name: 'exercise[sort_order]', value: @exercise.sort_order}
        Sort order, if any?
      
      %input{type: :submit, value: 'Save'}
- else
  %p
    <strong>Jean, Achtung:</strong> Es werden nur Übungen angezeigt, die zur ausgewählten Sprache (oben rechts...) gehören!
  %p
    Diese ganze Seite hier ist weder Beta noch Alpha, die ist eher Pre-Alpha, auch Baustelle genannt. Bitte nicht zu viel erwarten und bitte nicht wundern wenn beim irgendwo draufklicken was kaputt geht. Der Zurück-Knopf ist dein Freund.
  %p
    Neue Übung anlegen: unten links erstmal "Fake" auswählen (alles andere funktioniert im Moment noch nicht) und dann das "+" anklicken.
