- if @exercise && @exercise.type
  %form{method: :post, action: @exercise.url_path(:post)}
    %input{type: :hidden, name: 'exercise[locale]', value: @exercise.locale}
    %input{type: :hidden, name: 'exercise[type]', value: @exercise.type}
    
    = haml :"exercises/edit/#{@exercise.template_name}"
    
    %fieldset
    
      %label{for: 'exercise[will_be_interactive]'}
        %input{type: :hidden, name: 'exercise[will_be_interactive]', value: 'false'}
        %input{type: :checkbox, name: 'exercise[will_be_interactive]', value: 'true', checked: @exercise.will_be_interactive}
        Eventually interactive?
      
      %label{for: 'exercise[content_fragment_id]'}
        %select{name: 'exercise[content_fragment_id]'}
          - @content_fragments.each do |cf|
            - cf_id = @content_fragment.id
            - selected = (cf_id == cf.id)
            %option{value: cf.id, selected: selected}= "#{cf.chapter} - #{cf.heading}"
        Assign to chapter, if any?
        
      %label{for: 'exercise[sort_order]'}
        %input{type: :text, name: 'exercise[sort_order]', value: @exercise.sort_order}
        Sort order, if any?
      
      %input{type: :submit, value: 'Save'}
- else
  %p
    <strong>Take heed!</strong> Only exercises belonging into the currently chosen locale are being shown!
  %p
    To create a new exercise, select "Fake" (bottom left corner; none of the other types are working anyways at the moment), then click the '+' icon as you would in the content fragment editor.
