= haml :'exercises/header_table'
.questions-and-answers
  %p.legend
    = I18n.t('views.questions_and_answers.instructions')
    = @exercise.description
  %table.texts
    - @text_fragments.each do |question|
      %tr
        %td.ltr= question.text_ltr
        %td.answer
          %input{type: :text}
        %td.rtl= question.text_rtl
