-# TODO: Finish implementing!
= haml 'exercises/header_table'.to_sym
.sorted-fragments
  %p.legend
    = I18n.t('views.sorted_fragments.instructions')
    = @exercise.description
    %a.reveal
      %i.fa.fa-lightbulb-o
  %table.texts
    %tr
      %td.ltr
        %table
          - @questions.shuffle.each do |question|
            %tr
              - question.answers.shuffle.each do |answer|
                %td
                  %span= answer.text_ltr
      %td.rtl
        %table
          - @questions.each do |question|
            %tr
              - question.answers.shuffle.each do |answer|
                %td
                  %span= answer.text_rtl
