= haml :logo
= haml :navigation

#content

  %a#sidebar-handle= '<i class="fa fa-chevron-left"></i>'
  = haml :session_links
  
  - if content_class.include? 'editor'
  
    %form.content_fragment{method: :post}
      %textarea{class: 'heading', name: 'content_fragment[heading]'}= @contents.heading
      %textarea{class: 'text', name: 'content_fragment[html]'}= @contents.html
      %fieldset
        %label{for: 'content_fragment[book]'} Book:
        %input{type: :text, name: 'content_fragment[book]', value: @contents.book}
        %label{for: 'content_fragment[chapter]'} Chapter:
        %input{type: :text, name: 'content_fragment[chapter]', value: @contents.chapter}
        %input{type: :submit, value: 'Save'}

  - else
  
    %main.articles
      %article.current= @contents.heading_and_text
