%main
  %h1
    %img{src: '/images/logo_kl.png'}
    %br/
    - # TODO: i18n!
    = "Choose your language of instruction to use the learning portal."
    %span
      - # TODO: i18n!
      = "All courses are in alpha version, please bear with us!"
  = haml :session_links
  %ul
    - @books.each do |book|
      %li
        %a.btn{href: "#{book.url_path}#{'?view_mode=preview' if current_user.is_admin?}", lang: book.locale}
          = I18n.t("read_in_#{book.locale}", book: book.book)
  %footer
    %img{src: '/images/FU_Bergen3.jpg'}
    %img{src: '/images/Cam_Lpz.jpg'}
    %img{src: '/images/StE_EU2.jpg'}
