%main
  %h1
    %img{src: '/assets/logo_kl.png'}
    %br/
    - # TODO: i18n!
    = "Choose your language of instruction to use the learning portal."
    %span
      - # TODO: i18n!
      = "All courses are in alpha version, please bear with us!"
  = haml :session_links
  %ul
    - @fragment_sets.each do |book, set|
      %li
        = "Read #{book} in:"
        %ul
          - set.each do |fragment|
            %li
              %a.btn{href: "#{fragment.first_child_url_path}#{'?view_mode=preview' if current_user.is_admin?}", lang: fragment.locale}
                = I18n.t(fragment.locale)
  %footer
    %img{src: '/assets/FU_Bergen3.jpg'}
    %img{src: '/assets/Cam_Lpz.jpg'}
    %img{src: '/assets/StE_EU2.jpg'}
